@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,600;1,600&display=swap');

* {
    font-family: 'Source Code Pro', monospace;
}

p {
    display:inline;
    margin: 5px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
}

#insert-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}